.hero {
	display: flex;
	flex-direction: column;
	padding: 2rem 0 1rem;
	margin: auto;
}

.hero h1 {
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 0.5rem;
	text-align: center;
}

.hero p {
	font-size: 1.1rem;
	text-align: center;
}

.task-container:not(:last-of-type),
.list-container:not(:last-of-type) {
	margin-bottom: 0.5rem;
}
