.navbar {
	position: fixed;
	top: 0;
	background-color: var(--main-gray);
	z-index: 100;
	width: 100%;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: var(--nav-height);
}

.logo,
.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	width: var(--nav-item-dimension);
	cursor: pointer;
}

.logo {
	background-color: lightgray;
	min-width: var(--nav-item-dimension);
	max-width: var(--nav-item-dimension);
	min-height: var(--nav-item-dimension);
	max-height: var(--nav-item-dimension);
	border-radius: 50%;
}

.menu {
	position: absolute;
	top: var(--nav-height);
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 3rem;
	height: calc(100vh - var(--nav-height));
	background-color: var(--main-gray);
	border-top: 0.15rem solid var(--dark-gray);
	list-style: none;
	z-index: 100;
}

.menu.hidden {
	display: none;
}

.menu-item {
	margin-top: 2.5rem;
	padding: 0;
}

.menu-link {
	display: inline-block;
	position: relative;
	color: lightgray;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-link::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0.1rem;
	background-color: lightgray;
	transition: width 0.2s ease;
}

.menu-item.selected .menu-link::after,
.menu-item:hover .menu-link::after {
	width: 100%;
}

.icon {
	font-size: 2rem;
	color: lightgray;
}

@media screen and (min-width: 700px) {
	.nav-container {
		max-width: 1200px;
		margin: auto;
	}

	.logo,
	.icon-container {
		margin: 0 2rem;
	}

	.icon-container {
		visibility: hidden;
		user-select: none;
	}

	.menu {
		position: initial;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		border: none;
		height: 100%;
		width: 100%;
		max-width: 600px;
		padding: 0;
		background-color: transparent;
	}

	.menu.hidden {
		display: flex;
	}

	.menu-item {
		margin: 0;
	}

	.menu-link {
		font-size: 1rem;
		text-transform: none;
		color: lightgray;
		font-weight: 600;
	}

	.menu-link::after {
		background-color: lightgray;
	}
}

@media screen and (min-width: 1200px) {
	.logo {
		margin-left: 0;
	}

	.icon-container {
		display: none;
	}
}
