.task {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 0 1.5rem;
	box-sizing: border-box;
	border: 0.2rem solid black;
	border-radius: 1.2rem;
}

.task:not(:last-of-type) {
	margin-bottom: 0.5rem;
}

.task.completed {
	background-color: lightgray;
}

.task.completed .validate-btn {
	display: none;
}

.main-bar {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 100%;
	height: 2.5rem;
}

.title-container {
	display: flex;
	position: relative;
	align-items: center;
}

.title-container.extended {
	left: -1rem;
}

.main-bar.expanded {
	margin-bottom: 1.5rem;
}

.task-title {
	margin: 0;
	font-size: 1rem;
}

.task-info {
	position: absolute;
	display: none;
	width: 100%;
}

.task-list,
.task-date {
	font-size: 0.8rem;
	margin-top: 0.25rem;
	min-width: 30%;
}

.task-list {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.task-date {
	padding-left: 0.4rem;
	flex-shrink: 0;
}

.main-bar.expanded .task-info {
	display: flex;
	top: 100%;
}

.alert {
	margin-left: 0.5rem;
	font-size: 1.2rem;
	color: rgb(212, 20, 20);
}

.btns-container {
	display: flex;
	align-items: center;
}

.task-btn {
	color: var(--main-gray);
	font-size: 1.4rem;
	cursor: pointer;
}

.validate-btn:hover {
	color: rgb(16, 128, 16);
}

.cancel-btn:hover {
	color: rgb(228, 22, 22);
}

.task-btn:first-of-type {
	margin-right: 0.4rem;
}

.details-bar.hidden {
	display: none;
}

.description {
	margin: 0.5rem 0;
}

.details-bar .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 0 0.5rem auto;
	font-size: 1rem;
}

.details-bar .btn .icon {
	margin-right: 0.3rem;
	color: white;
	font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
	html {
		font-size: 24px;
	}

	.main-bar {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
	}

	.title-container,
	.task-info,
	.btns-container {
		flex: 1;
	}

	.expand {
		font-size: 1.5rem;
	}

	.task-info {
		position: initial;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.task-date {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.task-list {
		display: none;
	}

	.main-bar.expanded .task-list {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
	}

	.btns-container {
		justify-content: flex-end;
	}
}
