:root {
	--nav-height: 3rem;
	--nav-item-dimension: 2rem;
	--light-gray: #f7f9fa;
	--main-gray: rgb(75, 92, 107);
	--dark-gray: rgb(56, 56, 56);
	--container-max-width: 1200px;
}

* {
	color: var(--dark-gray);
}

body {
	background-color: white;
}

#root {
	position: relative;
	min-height: 100vh;
}

.main-container {
	min-height: calc(100vh - var(--nav-height));
	padding: var(--nav-height) 1rem calc(var(--nav-height) + 2rem);
	box-sizing: border-box;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section:not(:first-of-type) {
	margin-top: 1.5rem;
}

.section-title {
	font-size: 1.2rem;
	text-align: center;
}

.page-title {
	padding: 1rem 0;
	font-size: 1.2rem;
}

.secondary-title {
	margin-top: 0;
	font-size: 1rem;
	font-weight: 400;
}

.btn {
	margin: 1rem auto 0;
	padding: 0.5rem 1rem;
	border: none;
	font-size: 1rem;
	color: white;
	background-color: var(--main-gray);
	border-radius: 0.25rem;
	text-decoration: none;
	cursor: pointer;
}

.validate-btn:hover {
	cursor: pointer;
	color: rgb(16, 128, 16);
}

.cancel-btn:hover {
	cursor: pointer;
	color: rgb(228, 22, 22);
}

.task-btn:first-of-type {
	margin-right: 0.4rem;
}

@media screen and (min-width: 700px) {
	html {
		font-size: 18px;
	}

	.main-container {
		padding-left: 2rem;
		padding-right: 2rem;
		max-width: var(--container-max-width);
		margin-left: auto;
		margin-right: auto;
	}

	.page-title,
	.section-title {
		font-size: 1.4rem;
		text-align: center;
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}
