:root {
	--nav-height: 3rem;
	--nav-item-dimension: 2rem;
	--main-gray: rgb(75, 92, 107);
	--dark-gray: rgb(56, 56, 56);
	--tablet: 480px;
	--desktop: 768px;
}

* {
	color: var(--dark-gray);
}

body {
	background-color: white;
}

.main-container {
	margin-top: var(--nav-height);
	padding: 0 1rem;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0;
}

.section-title {
	font-size: 1.2rem;
	text-align: center;
}

.page-title {
	padding: 2rem 0 1rem;
	font-size: 1.2rem;
}

.secondary-title {
	margin-top: 0;
	font-size: 1rem;
	font-weight: 400;
}

.btn {
	margin: 1rem auto 0;
	padding: 0.5rem 1rem;
	border: none;
	font-size: 1rem;
	color: white;
	background-color: var(--main-gray);
	border-radius: 0.25rem;
	text-decoration: none;
	cursor: pointer;
}

@media screen and (min-width: 700px) {
	.main-container {
		padding: 0 2rem;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	.page-title,
	.section-title {
		font-size: 1.4rem;
		text-align: center;
	}
}
